
body {
    font: .4em Georgia;
    color: #333;
}

._adjacent {
    float: left;
    width: 50%;
}

table {
    border-collapse: collapse;
    padding: .4em;
    margin-left: auto;
    margin-right: auto;
}

._adjacent > table {
    width: 80%;
}

td {
    border: 1px solid;
    border-left: none;
    padding: .5em;
    height: 1em;
    text-align: center;
}

th {
    font-weight: normal;
    font-variant: small-caps;
    color: #fff;
    border: 1px solid #333;
    font-size: 1.5em;
    background: #333;
}

tr.labels > td {
    font-variant: small-caps;
    font-size: 1.5em;
}

col.count {
    width: 3em;
    border-right: 1px dashed;
    border-left: 1px dashed;
}

td:first-child {
    border-left: 1px solid;
}


td:last-child {
    border-right: 1px solid;
}
